*{
    margin: 0;
    padding: 0;
}

.sidebarChat{
    display: flex;
    padding: 15px 20px;
    background-color: #0052b1;
    border-bottom: 2px solid #003f88;
    cursor: pointer;
}

.sidebarChat:hover{
    background-color: #003f88;
}

.sidebarChat_details {
    margin-left: 20px;
}