.chatBody{
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: #fafbfd;
    padding:10px 20px;
    scroll-behavior: smooth;
    overflow: scroll;
}

.chatScroll{
    flex:1;
}

::-webkit-scrollbar{
    width: 0;
    background:transparent;
}