.sidebarHeader{
    display: flex;
    background-color:#003f88;
    padding: 5%;
    width: 90%;
    align-items: center;
}

.sidebarHeader > form{
    position: relative;
    display: flex;
    flex: 1;
    color: white;
    /* width: 90%; */
}

.sidebarHeader > form > input{
    flex: 1;
    border: none;
    background-color: #dec9ef;
    opacity: 0.8;
    padding: 0 10px;
}

.sidebarHeader > form > input::placeholder{
    color: white;
}

.sidebarHeader > form > input::-ms-value{
    color: white;
}

.sidebarHeader > form > button{
    border: none;
    background-color: white;
}